.root {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.head {
  background-color: #cc6d3d2e;
}

.root th,td {
  width: 100px;
  border: 1px solid #A3B4C8;
}

.root th {
  height: 25px;
  border: 1px solid #CC6D3D;
}

.root td {
  height: 45px;
  text-align: right;
  vertical-align: top;
  padding: 3px 5px;
}