.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.name {
  flex-grow: 1;
}

.active-icon {
  cursor: pointer;
}

.active-icon:hover {
  color:#CC6D3D;
}