.root {
  font-family:'Trebuchet MS', Helvetica, sans-serif;
  font-size: 12px;
  background-color: #a3b4c86b;
  border-radius: 5px;
  color: #022E51;
  padding: 5px;
  max-width: 600px;
  margin: auto;
}

.info {
  margin: 5px 0 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}